@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


nav {
    background-color: rgba(88, 32, 161, 0.516);
    height: 130px;
    border-radius: 50px;
}


div {
    display: inline-block;
}

#div01 { 
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 50px;
    height: 30px;
}

#div02 {
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    height: 30px
}

#div03 {
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    height: 30px
}

#div04 {
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    height: 30px
}

#div05 {
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    height: 30px
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
}

.pmenu {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

.pmenu:hover {
    color: blue;
    display: inline-block;
    height: 100px;
    
}

body {
    background-image: linear-gradient( to right, aqua, black);
}

#apresentacao {
    text-align: justify;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 2em;
}

article > p {
    margin: 30px;
    padding: 10px;
}
