@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #262626;
    height: 100vh;
}

#logo {
    font-size: 1.5em;
}

.interface {
    max-width: 1280px;
    min-width: 400px;
    margin: 0 auto;
}

header {
    padding: 40px 4%;
    background-color: #1A1A1A;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #D1D3D4;
    text-decoration: none;
}

header a:hover {
    display: block;
    color: #fff;
    transform: scale(1.05);
}

#logo a{
    color: #D1D3D4;
    transform: scale(1);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #DCE359;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #DCE359;
}

section article div.article p {
    border-radius: 50px 50px 0px 0px;
    padding: 0;
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 10em;
    text-shadow: 0px 0px 8px #1A1A1A;
}

section article div.article p:hover {
    transform: scale(1.05);
}


.descrição {
    font-size: 2em;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 4%;
}

p.psobre {
    padding-top: 5%;
    text-align: center;
    font-size: 2em;
    color: #DCE359;
}

.cursoemvideo {
    margin-top: 5%;
    text-align: center;
}

section li{
    list-style: none;
}

section ul li img {
    width: 5%;
    height: 5%;
    padding-left: 50px;
}

