@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/


body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

.basico {
    color: green;
    font-weight: bolder;
    font-style: italic;
}

.intermediario {
    color: rgb(175, 175, 96);
    font-style: italic;
}

.avancado {
    color: rgb(201, 31, 31);
    font-style: italic;
}

h2 {
    color: #3c805e;
}